body{
    background-color: red;
}
div{
    font-size: x-large;
    text-align: center;
}

div::after{
    content: 'Welcome to the demo';

}

@media(max-width: 400px){
    body{
        background-color: white;
    }
    div::after{
        content: 'very small';
    }
}

@media(400px <= width <= 768px){
    body{
        background-color: yellowgreen;
    }
    div::after{
        content:'Medium size element'
    }
}


@media(min-width: 768px){
    /*
        if the viewport is atleast 900px
        then this style will apply
    */
    body{
        background-color: purple;
    }

    div::after{
        content: 'smaller screen';
    }
}

@media(min-width: 768px) and (max-width: 900px){
    body{
        background-color: purple;
    }
    div::after{
        content:'smaller element'
    }
}



@media(min-width: 900px){
    /*
        if the viewport is atleast 900px
        then this style will apply
    */
    body{
        background-color: aquamarine;
    }

    div::after{
        content: 'it is working';
    }
}
